<script type="text/javascript">
//Initiates a container
var UTASPlugin = UTASPlugin || {};
UTASPlugin.Styles = {
  'Panoramas': {
    'styles': [
        'IconPanoSpot-Downward',
        'IconPanoSpot-Forward',
        'IconPanoSpot-Left',
        'IconPanoSpot-Right',
      ],
      'display': false,
      'isPano': true,
  },

  // 'Documents': [
  //   'IconPDFInfoSpot',
  // ],
  //
  // 'Info Spots': [
  //   'IconResourcesspot-_weblink_',
  //   'IconInformationSpot-Web',
  // ],
  //
  // 'Galleries': [
  //   'IconOpentheGallery',
  // ],
  //
  // 'Videos': [
  //   'IconWebvideospot',
  // ],
  //
  // 'Images' : [
  //   'IconPicturespot'
  // ],

  'Info Spots': {
    'styles': [
      'IconResourcesspot-_weblink_',
      'IconInformationSpot-Web',
      'IconPDFInfoSpot',
      'IconOpentheGallery',
      'IconWebvideospot',
      'IconPicturespot'
    ],
    'display': true,
    'isPano': false,
  }
};

</script>
