<script type="text/javascript">
//Initiates a container
var UTASPlugin = UTASPlugin || {};
UTASPlugin.Styles = {
  // 'Panoramas': [
  //     'IconPanoSpot-Downward',
  //     'IconPanoSpot-Forward',
  //     'IconPanoSpot-Left',
  //     'IconPanoSpot-Right',
  //   ],
  //
  // 'Documents': [
  //   'IconPDFInfoSpot',
  // ],
  //
  // 'Info Spots': [
  //   'IconResourcesspot-_weblink_',
  //   'IconInformationSpot-Web',
  // ],
  //
  // 'Galleries': [
  //   'IconOpentheGallery',
  // ],
  //
  // 'Videos': [
  //   'IconWebvideospot',
  // ],
  //
  // 'Images' : [
  //   'IconPicturespot'
  // ],

  'Info Spots': [
    'IconResourcesspot-_weblink_',
    'IconInformationSpot-Web',
    'IconPDFInfoSpot',
    'IconOpentheGallery',
    'IconWebvideospot',
    'IconPicturespot'
  ],
};

</script>
