<script type="text/javascript">
//Creates a user-friendly structure to know what kind of hotspot we have by finding out its style name.
//Style name is identified by `Icon<name of style without spaces>`
//Any styles not listed here will remain untracked.
var HotspotStyles = {
  'Panoramas': {
    'styles': [
        'IconPanoSpot-Downward',
        'IconPanoSpot-Forward',
        'IconPanoSpot-Left',
        'IconPanoSpot-Right',
      ],
      'display': false,
      'isPano': true,
  },
  'Information': {
    'styles': [
      'IconResourcesspot-_weblink_',
      'IconInformationSpot-Web',
      'IconPDFInfoSpot',
      'IconOpentheGallery',
      'IconWebvideospot',
      'IconPicturespot',
      'IconOpentheGradMedResearchGallery',
      'IconOpentheMedHistGallery',
      'IconOpentheParamedGallery',
      'IconOpenthePharmGallery',
      'IconOpenthePsychGallery',
      'IconOpenthePubHealthGallery',
      'IconGallery-ComputingFacilities'
    ],
    'display': true,
    'isPano': false,
  }
};

</script>
